/* responsive tablet navbar start */
@media only screen and (max-width: 1447px) {
    .profile-img {
        margin-left: 5px;
    }

    .download-cv {
        margin-right: 5px;
    }

}

@media only screen and (max-width: 1300px) {
    .nav-container {
        width: 100%;
        margin: 0 auto;
    }

    .short-resume-i2 {
        left: 30%;
    }

}

@media only screen and (min-width: 1150px) {
    body {
        overflow-y: auto !important;
    }
}

.responsive-settings-mobile-animation {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 1150px) {



    .section-box-container {
        width: 95%;
    }

    .experince-alt {
        width: 100%;
    }

    .section-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    .section-boxes-wrap {

        width: 47%;
        height: auto;
    }


    .responsive-settings-mobile-animation {
        display: none;
        align-items: flex-start;
        flex-direction: column;
    }


    .nav-title {
        width: 80%;
        min-width: 200px;
    }

    .marg {
        margin: 0 20px;
    }

    .nav-container {
        width: 100%;
        margin: 0;
        border: none;
    }

    section .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .skills-header {
        width: 95%;
        ;
    }

    .short-resume-i1 {
        margin: 100px 0;
        width: 80%;
    }

    .short-resume-i2 {
        left: 55%;
        width: 50%;
    }




    .name-bar {

        font-size: 22px;
    }

    .job-bar,
    .type-bar {
        font-size: 16px;
    }

    .menu-btn {
        display: flex;
        background: transparent;
        outline: 0;
        border: 0;

        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .slash {
        display: none;
    }

    .nav-menu-header {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 30px 0;
        font-size: 18px;
        background: linear-gradient(320deg, #2b2e49 40%, #353853 40%);
        border-radius: 5px;
        width: 100%;
    }

    .nav-menu-header>.name-bar {
        font-size: 18px;
    }

    .nav-menu-header>.name-bar>span {
        font-size: 16px;
    }


    .menu-pos {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .nav-links {
        display: none !important;

        top: 0;
        left: -400px;
        background: #1f2133;
        transform: scale(0.50) !important;
        transform-origin: top left;
        box-shadow: 0 0 15px #00000020;
        flex-direction: column;
        width: 350px;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        align-items: flex-start;
        padding: 20px;
        transition: .5s all;
        opacity: 0.50 !important;
        z-index: 999;

    }

    .download-cv {
        border-radius: 5px;
    }

    .nav-menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #00000020;
        backdrop-filter: blur(6px);
        z-index: 50;
    }

    .active-nav {
        position: absolute;
        display: flex !important;
    }

    .anim-navs {
        transform: scale(1) !important;
        opacity: 1 !important;
        top: 0;
        left: 0px;
    }

    .link-anim-set-p {
        transform-origin: bottom left;
    }



    .nav-link {

        text-align: left;
        width: 300px;
        padding: 20px 10px;
        margin: 10px 0;
        border-radius: 5px 0 0 5px;

    }

    .nav-links-effect-container {
        flex-direction: column;
        text-align: left;
    }

    .link-numbers {
        display: none;
    }

    .dot-link-effect {
        display: none;
    }
}

.intColor i {
    color: #f1f1f19a;
}

@media only screen and (max-width: 968px) {
    .about-container {
        flex-direction: column-reverse;
    }

    .about-me-section {
        width: 100%;
    }

    .img-section {
        margin-top: 25px;
        width: 200px;
        height: 200px;
        justify-content: center;
    }

    .project-type {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
}

@media only screen and (max-width: 640px) {
    .name-align {
        display: none;
    }

    .comment-section-container {
        width: 100%;
        margin: auto;

    }



    .slider-comments {
        margin: 15px;
    }

    .comment-section {
        width: 100%;

    }

    .interact-zoom-header {
        justify-content: center;
    }

    .skills-bar-about {
        justify-content: center;
    }

    .experince-header-set {
        padding: 10px;
    }

    .img-section {
        margin: 20px auto;
    }

    .about-me-section {
        text-align: center;
    }

    .scroll-top-btn {
        height: 45px;
        width: 45px;
        font-size: 18px;

    }


    .section-box-container {
        width: 95%;
    }

    .experince-header {
        text-align: center;
        font-size: 28px;

    }

    .about-text {
        font-size: 18px;
    }

    .experince-alt {
        text-align: center;
        font-size: 18px;
        width: 100%;
        margin: 13px 0;
        margin-bottom: 50px;
    }


    .section-boxes-wrap {
        width: 95%;
        height: auto;
    }

    .project-title {
        font-size: 22px;
    }

    .project-type {
        font-size: 16px;
    }

    .swiper {
        width: 150px;
        height: 220px;
    }

    section .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .link-anim-set-p {
        position: relative;
        top: 0;
        transform-origin: bottom;
    }

    .marg {
        margin: 0;
    }

    .home-name h1 {
        text-align: center;
        font-size: 36px;
    }

    .home-name h3 {
        text-align: center;
        font-size: 26px;
    }

    .home-hi h6 {
        text-align: center;
        font-size: 18px;
    }

    .home-p p {
        text-align: center;
        font-size: 18px;

    }

    .skill-bar-head {
        font-size: 18px;
    }

    .skill-bar-dot-head,
    .skill-bar {
        font-size: 16px !important;
    }

    .skill-bar-dot {
        width: 8px;
        height: 8px;
    }



    .skills-header {
        width: 95%;
    }

    .short-resume-i1 {
        margin: 100px 0;
        width: 95%;
        height: auto;
    }

    .short-resume-i2 {
        top: 30%;
        left: 35%;
        width: 60%;
    }



    .time-out-code,
    .time-out-function-code,
    .code-table-sidenav {
        font-size: 13px;
    }




    .nav-container {
        padding: 12px 0;

    }

    .nav-menu-header {

        justify-content: center;
    }

}

@media only screen and (max-width:455px) {

    .short-resume-i2 {
            top: 30%;
            left: 50%;
            right: 50%;
            transform: translate(-50%);
            width: 80%;
        }

    .swiper2 {
        height: 250px;
    }

    .comment-logo {
        width: 70%;
    }

    .comment-slider-container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        text-align: center;
    }




    .c-slider-img-container,
    .comment-slider-img {
        margin: 0;
    }


    .slider-com-artic {

        left: 50%;
        right: 50%;
        transform: translate(-50%);
        font-size: 18px;
        width: 150px;
    }

    .slider-comments {
        font-size: 16px;
        padding: 0;
    }


    .comment-slider-img,
    .comment-slider-img img {
        width: 70px;
        height: 70px;
    }

    .skills-bar-about {

        justify-content: center;
        gap: 15px;
    }

    .scroll-top-btn {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }

    .section-box {
        height: auto;
    }

    .experince-header {
        text-align: center;
        font-size: 22px;
    }

    .about-text {
        font-size: 16px;
    }

    .experince-alt {
        text-align: center;
        font-size: 16px;
        width: 100%;
        margin: 13px 0;
        margin-bottom: 50px;
    }

    .project-title {
        font-size: 18px;
    }

    .project-type {
        font-size: 16px;
    }

    .nav-links {
        width: 300px;

    }

    .nav-link {
        width: 260px;
        font-size: 16px;
        padding: 15px;
    }

    .name-bar {
        font-size: 16px;
    }

    .job-bar,
    .type-bar {
        font-size: 14px;

    }

    .profile-img,
    .profile-img img {
        width: 50px;
        height: 50px;
        margin: 0px;
        margin-left: 3px;
        margin-right: 3px;

    }


}

@media only screen and (max-width: 411px) {

    .section-box-container {
        width: 100%;
    }

    .section-boxes-wrap {
        width: 100%;
        height: auto;
    }

    .container-fluid {
        padding: 0;
    }


    .tab-container {
        min-width: 450px;
        overflow: hidden;
    }

    .home-name h1 {
        font-size: 28px;
    }

    .home-name h3 {
        font-size: 18px;
    }

    .home-hi h6 {
        font-size: 16px;
    }

    .home-p p {
        font-size: 16px;
    }

    .skill-bar-head {
        font-size: 16px;
    }

    .skill-bar-dot-head {
        font-size: 14px;
    }

    .skill-bar-dot {
        width: 8px;
        height: 8px;
    }



    .skills-header {
        width: 97%;
    }

    .short-resume-i1 {

        margin: 100px 0;
        width: 97%;
        height: auto;
    }

    .short-resume-i2 {

        top: 20%;

        width: 90%;
        backdrop-filter: blur(1px);
    }

    .short-resume-i4 {
        font-size: 14px;
    }




    .time-out-code,
    .time-out-function-code,
    .code-table-sidenav {
        font-size: 13px;
    }

    .nav-link {
        width: 250px;
    }

    .nav-links {
        width: 300px;
    }

    .nav-menu-header {
        padding: 0;

    }




    .nav-menu-header>.name-bar {
        font-size: 16px;
        padding: 13px 0;
    }

    .nav-menu-header>.name-bar>span {
        font-size: 13px;
    }

    .nav-link {
        font-size: 16px;
        padding: 15px;
    }

    .nav-menu-header {
        padding: 10px;
        justify-content: left;
    }

    .profile-img,
    .profile-img img {
        width: 40px;
        height: 40px;

    }

    .nav-container {
        padding: 12px 0;

    }

    .name-bar {
        font-size: 16px;
    }

    .job-bar,
    .type-bar {
        font-size: 14px;
    }

    .menu-btn {
        font-size: 18px;
    }

    .nav-container {
        padding: 8px 3px !important;

    }

}

@media only screen and (max-width:340px) {

    .skills-bar-about {
        font-size: 28px;
        justify-content: center;
        gap: 10px;
    }

    section {
        padding: 3px;
    }


    .short-resume-i2 {
        top: 30%;
        left: 50%;
        width: 80%;
    }


    .nav-menu-header {
        padding: 10px 0 0;
        flex-direction: column;
        text-align: center;
    }

    .nav-links {

        width: 250px;

    }

    .download-cv {
        font-size: 13px;
        height: 50px;
        width: 150px;
    }

    .nav-link {
        width: 200px;
    }
}

@media only screen and (max-width: 300px) {

    .skills-bar-about {
        font-size: 22px;
        justify-content: center;
        gap: 10px;
    }



    .name-bar {
        font-size: 14px;
    }

    .job-bar,
    .type-bar {
        font-size: 12px;
    }

    .menu-btn {
        font-size: 16px;
    }

    .nav-links {
        padding: 5px;
        padding-bottom: 30px;
        width: 200px;
    }

    .nav-link {
        font-size: 14px;
        padding: 10px;
        width: 150px;
    }

    .download-cv {
        height: 40px;
    }

}

/* responsive tablet navbar end */